[user]
	email = xxx@xxx.com
	name = xxx xxx
[core]
	pager = cat
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(magenta)<%an>%Creset' --abbrev-commit --date=relative
        l = log --no-merges
        ll = log --graph --date=short
        fp = format-patch -s
        fpp = format-patch -s --cover-letter

[sendemail]
	smtpserver = smtp.gmail.com
	to = xxx@gmail.com
	smtpencryption = tls
	smtpuser = user@gmail.com
